<div class="container">
  <%= form_tag(@form_action, method: :get, class: "my-3 p-3 border rounded-md") do %>
    <div class="flex flex-col gap-4">
      <div class="flex gap-2">
        <div class="flex-1">
          <%= label_tag :name, t("football_pitch.search_form.name") %>
          <%= text_field_tag :name, params[:name],
              placeholder: t("football_pitch.search_form.placeholder_name"), class: "w-full p-2 border rounded-md" %>
        </div>
        <div class="flex-2">
          <%= label_tag :location, t("football_pitch.search_form.location") %>
          <%= text_field_tag :location, params[:location],
              placeholder: t("football_pitch.search_form.placeholder_location"), class: "w-full p-2 border rounded-md" %>
        </div>
        <div class="mt-[32px]">
          <%= submit_tag t("football_pitch.search_form.search"), class: "!bg-blue-700 hover:bg-blue-800 text-white py-2 px-3 border inline-block font-bold" %>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-4 items-center flex-auto">
        <div>
          <%= label_tag :date, t("football_pitch.search_form.date"), class: "mb-0" %>
          <%= date_field_tag :date, params[:date], class: "w-full p-2 border rounded-md" %>
        </div>
        <div>
          <%= label_tag :start_time, t("football_pitch.search_form.start_time"), class: "mb-0" %>
          <%= time_field_tag :start_time, params[:start_time], class: "w-full p-2 border rounded-md" %>
        </div>
        <div>
          <%= label_tag :end_time, t("football_pitch.search_form.end_time"), class: "mb-0" %>
          <%= time_field_tag :end_time, params[:end_time], class: "w-full p-2 border rounded-md" %>
        </div>
        <div>
          <%= label_tag :capacity, t("football_pitch.search_form.capacity"), class: "mb-0" %>
          <%= select_tag :capacity, options_for_select(["", 5, 7, 9, 11], params[:capacity]), class: "w-full p-2 border" %>
        </div>
        <div>
          <%= label_tag :price, t("football_pitch.search_form.price"), class: "mb-0" %>
          <%= select_tag :price, options_for_select(
            ["Tất cả", "Dưới 200.000đ", "200.000đ - 500.000đ", "500.000đ - 1 triệu", "Trên 1 triệu"],
            params[:price]), class: "w-full p-2 border", id: "price_select" %>
          <%= hidden_field_tag :min_price, params[:min_price], id: "min_price_input" %>
          <%= hidden_field_tag :max_price, params[:max_price], id: "max_price_input" %>
        </div>
        <div>
      </div>
    </div>
    </div>
  <% end %>
</div>
