<% if booking_football_pitch.is_a? Booking %>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt=""/>
      </div>
      <div class="ml-3">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= booking_football_pitch.football_pitch.name %>
        </p>
      </div>
    </div>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-gray-900 whitespace-no-wrap"><%= number_to_currency booking_football_pitch.booking_price %></p>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-gray-900 whitespace-no-wrap">
      <%= booking_football_pitch.note %>
    </p>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-gray-900 whitespace-no-wrap">
      <%= booking_football_pitch.created_at %>
    </p>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
      <span class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
      <span class="relative <%= render_status_class_name booking_football_pitch.booking_status %>"><%= booking_football_pitch.booking_status %></span>
    </span>
  </td>

<% end %>
