<% if booking_football_pitch.is_a? Booking %>
  <tr class="duration-300 transition-all text-sm border-b border-gray-200 <%= render_booking_status_color(booking_football_pitch.booking_status)%>">
    <td class="p-4">
      <div class="flex items-center">
        <div class="flex-shrink-0 w-10 h-10">
          <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt=""/>
        </div>
        <div class="ml-3">
          <%= booking_football_pitch.football_pitch.name %>
        </div>
      </div>
    </td>
    <td class="p-4">
      <%= number_to_currency booking_football_pitch.booking_price %>
    </td>
    <td class="p-4">
      <%= booking_football_pitch.note %>
    </td>
    <td class="p-4">
      <%= booking_football_pitch.created_at.strftime(Settings.created_at_format) %>
    </td>
    <td class="p-4 font-bold">
      <div class="flex items-center justify-center gap-4">
        <% if booking_football_pitch.is_approve? %>
          <i class="fa-regular fa-comment text-2xl cursor-pointer" id="create-form-review-<%= booking_football_pitch.id %>" ></i>
        <% end %>
        <% if booking_football_pitch.is_pending? %>
          <%= form_for booking_football_pitch, method: :put, remote: true, html: { class: 'd-inline' } do |f| %>
            <%= f.hidden_field :status, value: "canceled" %>
            <button type="submit" class="trash-button" data-turbo-confirm="<%= t("booking.cancel.confirm") %>">
              <i class="fa-solid fa-trash text-2xl cursor-pointer"></i>
            </button>
          <% end %>
        <% end %>
        <%= booking_football_pitch.booking_status %>
      </div>
    </td>
  </tr>
  <div id="review-form-container-<%= booking_football_pitch.id %>" class="hidden">
    <%= render "user/reviews/new", football_pitch: booking_football_pitch.football_pitch %>
  </div>
<% end %>
