<%= render "shared/error_messages", object: item %>
<%= form_with model: item, url: url do |form| %>
  <div class="mt-4">
    <%= form.label :current_password, t("users.update.change_password.form.current_password"), class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :current_password, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("users.update.change_password.form.current_password") %>
    <p class="text-danger"><%= show_errors(item, :current_password) %></p>
  </div>
  <div class="mt-4">
    <%= form.label :new_password, t("users.update.change_password.form.new_password"), class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :new_password, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("users.update.change_password.form.new_password") %>
    <p class="text-danger"><%= show_errors(item, :new_password) %></p>
  </div>
  <div class="mt-4">
    <%= form.label :password_confirmation, t("users.update.change_password.form.password_confirmation"), class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password_confirmation, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("users.update.change_password.form.password_confirmation") %>
    <p class="text-danger"><%= show_errors(item, :password_confirmation) %></p>
  </div>
  <div class="mt-6">
    <%= form.submit t("users.update.submit"), class: "px-4 py-2 !bg-indigo-500 text-white rounded-md hover:bg-indigo-900 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-50" %>
  </div>
<% end %>
