<body class="">
  <div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
    <div class="flex justify-between">
      <%= link_to t("admin.back"), root_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to t("users.edit.title"), edit_user_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
    <img class="w-32 h-32 rounded-full mx-auto" src="https://picsum.photos/200" alt="Profile picture">
    <h2 class="text-center text-2xl font-semibold mt-3"><%= current_user.name %></h2>
    <p class="text-center text-gray-600 mt-1">Email: <%= current_user.email %></p>
    <p class="text-center text-gray-600 mt-1 text-2xl">Contact</p>
    <p class="text-center text-gray-600 mt-1">Phone: <%= current_user.phone %></p>
    <p class="text-center text-gray-600 mt-1 text-md">Or</p>
    <div class="flex justify-center mt-2">
      <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a>
      <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">Facebook</a>
      <a href="#" class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a>
    </div>
    <div class="mt-5">
      <h3 class="text-xl font-semibold"><%= t("admin.users.bio") %></h3>
      <p class="text-gray-600 mt-2"><%= t("admin.users.description") %></p>
    </div>
  </div>
</body>
