<div class="container mx-auto">
  <div class="flex justify-center mt-8">
    <div class="w-2/3">
    <%= render "shared/error_messages" %>
      <div class="mt-3">
        <h1 class="text-2xl font-semibold"><%= t("sign_up.title") %></h1>
      </div>
      <%= form_with model: @user do |form| %>
        
        <div class="mt-4">
          <%= form.label :name, t("sign_up.form.name.label"), class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :name, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("sign_up.form.name.placeholder") %>
        </div>
        <div class="mt-4">
          <%= form.label :email, t("sign_up.form.email.label"), class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :email, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("sign_up.form.email.placeholder") %>
        </div>
        <div class="mt-4">
          <%= form.label :phone, t("sign_up.form.phone.label"), class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :phone, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("sign_up.form.phone.placeholder") %>
        </div>
        <div class="mt-4">
          <%= form.label :password, t("sign_up.form.password.label"), class: "block text-sm font-medium text-gray-700" %>
          <%= form.password_field :password, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("sign_up.form.password.placeholder") %>
        </div>
        <div class="mt-4">
          <%= form.label :password_confirmation, t("sign_up.form.confirm.label"), class: "block text-sm font-medium text-gray-700" %>
          <%= form.password_field :password_confirmation, class: "mt-1 px-4 py-2 w-full border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300", placeholder: t("sign_up.form.confirm.placeholder") %>
        </div>
        <div class="mt-6">
          <%= form.submit t("sign_up.title"), class: "px-4 py-2 !bg-indigo-500 text-white rounded-md hover:bg-indigo-900 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-50" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
